<a href="https://colab.research.google.com/github/immunanna/Clinical-Trials-Analysis/blob/main/Rate_Success.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import sqlalchemy
import pandas as pd
import re

In [78]:
SUCCESS = ['completed', 'approved for marketing']
FAIL = ['no longer available', 'suspended', 'terminated', 'withdrawn']

# Functions

In [79]:
def search_func_companies(row):
  """
  Checks whether the source of the clinical trial is in the company list.
  """
    matches = [test_value in row['source'].lower() 
               for test_value in list_of_companies]

    if any(matches):
        return "Yes"
    else:
        return "No"

def search_func_success(row):
  """
  Checks whether the clinical trial was successful or not.
  """
    matches_success = [test_value in row['overall_status'].lower() 
               for test_value in SUCCESS]
    matches_fail = [test_value in row['overall_status'].lower() 
               for test_value in FAIL]

    if any(matches_success):
        return "Success"
    elif any(matches_fail):
        return "Failure"

In [ ]:
companies = pd.read_csv('./list_of_companies',header=None, names=['company']) 
list_of_companies = list(companies['company'])
list_of_companies = [company.lower() for company in list_of_companies]

In [4]:
# Creating the connection to the server
engine = sqlalchemy.create_engine('postgresql://annaden:Meow666@aact-db.ctti-clinicaltrials.org:5432/aact')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [80]:
df = pd.read_sql_query('SELECT studies.source,  phase, overall_status, COUNT (*) FROM studies GROUP BY studies.source, phase, overall_status ORDER BY studies.source', engine)

In [84]:
df["Match"] = df.apply(search_func_companies, axis=1)
filtered_companies = df.query('Match == "Yes"').drop(columns='Match')
filtered_companies["success_status"] = df.apply(search_func_success, axis=1)

In [85]:
filtered_companies_grouped = filtered_companies.groupby(['source','phase','success_status']).agg({'count':['sum']})
filtered_companies_grouped.columns = ['status_count']

In [87]:
filtered_companies_grouped

                                                                                 status_count
source                                             phase         success_status
Abramson Cancer Center of the University of Pen... Early Phase 1 Failure                    2
                                                                 Success                   11
                                                   N/A           Failure                   12
                                                                 Success                   28
                                                   Phase 1       Failure                    9
...                                                                                       ...
Xian-Janssen Pharmaceutical Ltd.                   Phase 1       Success                    5
                                                   Phase 3       Failure                    1
                                                                 Success                   10
                                                   Phase 4       Failure                    1
                                                                 Success                   12

[257 rows x 1 columns]