<a href="https://colab.research.google.com/github/immunanna/Clinical-Trials-Analysis/blob/main/Rate_Success.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import sqlalchemy
import pandas as pd
import re

In [4]:
engine = sqlalchemy.create_engine('postgresql://annaden:Meow666@aact-db.ctti-clinicaltrials.org:5432/aact')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [10]:
df = pd.read_sql_query('SELECT studies.source,  phase, overall_status, COUNT (*) FROM studies GROUP BY studies.source, phase, overall_status ORDER BY studies.source', engine)

In [11]:
df

                                                  source  ... count
0       105 Hospital of Chinese People's Liberation Army  ...     1
1                                            10xBio, LLC  ...     1
2      113th Hospital of Chinese People's Liberation ...  ...     1
3      113th Hospital of Chinese People's Liberation ...  ...     1
4                      11 Heath and Technologies Limited  ...     1
...                                                  ...  ...   ...
89756                         Zynex Monitoring Solutions  ...     1
89757                                       Zyppah, Inc.  ...     1
89758                            ZYUS Life Sciences Inc.  ...     1
89759                                    ZZ Biotech, LLC  ...     1
89760                                    ZZ Biotech, LLC  ...     1

[89761 rows x 4 columns]

In [37]:
companies = pd.read_csv('./list_of_companies',header=None, names=['company']) 
list_of_companies = list(companies['company'])
list_of_companies = [company.lower() for company in list_of_companies]

In [47]:
def search_func(row):
    matches = [test_value in row['source'].lower() 
               for test_value in list_of_companies]

    if any(matches):
        return "Yes"
    else:
        return "No"

df["Match"] = df.apply(search_func, axis=1)
filtered_companies = df.query('Match == "Yes"').drop(columns='Match')

In [56]:
clinical filtered_companies.groupby(['source','phase','overall_status']).agg({'count':['sum']})

                                                                                        count
                                                                                          sum
source                                             phase         overall_status
Abramson Cancer Center of the University of Pen... Early Phase 1 Completed                 11
                                                                 Recruiting                 3
                                                                 Terminated                 2
                                                   N/A           Active, not recruiting     5
                                                                 Completed                 28
...                                                                                       ...
Xian-Janssen Pharmaceutical Ltd.                   Phase 1       Withdrawn                  1
                                                   Phase 3       Completed                 10
                                                                 Terminated                 1
                                                   Phase 4       Completed                 12
                                                                 Terminated                 1

[624 rows x 1 columns]

{'Abramson Cancer Center of the University of Pennsylvania': [537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574], 'Adnexus, A Bristol-Myers Squibb R&D Company': [1197, 1198, 1199], 'ArQule, Inc. (a wholly owned subsidiary of Merck Sharp and Dohme, a subsidiary of Merck & Co., Inc.)': [4841, 4842, 4843], 'AstraZeneca': [5808, 5809, 5810, 5811, 5812, 5813, 5814, 5815, 5816, 5817, 5818, 5819, 5820, 5821, 5822, 5823, 5824, 5825, 5826, 5827, 5828, 5829, 5830, 5831, 5832, 5833, 5834, 5835, 5836, 5837, 5838, 5839, 5840, 5841, 5842, 5843, 5844, 5845, 5846, 5847, 5848, 5849, 5850, 5851, 5852, 5853, 5854, 5855], 'AstraZeneca Turkey': [5856], 'Atara Biotherapeutics': [5878, 5879, 5880, 5881, 5882, 5883, 5884, 5885, 5886], 'Bayer': [7762, 7763, 7764, 7765, 7766, 7767, 7768, 7769, 7770, 7771, 7772, 7773, 7774, 7775, 7776, 7777, 7778, 7779, 7780, 7781, 7782, 7783, 7784, 7785, 7786, 7787, 7788, 7789, 7790, 7791, 7792, 7793, 7794, 7795, 7796, 7797, 7798, 7799, 7800, 7801, 7802, 7803, 7804], 'Bayero University Kano, Nigeria': [7805, 7806, 7807, 7808], 'BeiGene': [8131, 8132, 8133, 8134, 8135, 8136, 8137, 8138, 8139, 8140, 8141, 8142, 8143, 8144, 8145, 8146, 8147, 8148], 'Bristol-Myers Squibb': [10892, 10893, 10894, 10895, 10896, 10897, 10898, 10899, 10900, 10901, 10902, 10903, 10904, 10905, 10906, 10907, 10908, 10909, 10910, 10911, 10912, 10913, 10914, 10915, 10916, 10917, 10918, 10919, 10920, 10921, 10922, 10923, 10924, 10925, 10926, 10927, 10928, 10929, 10930, 10931, 10932, 10933, 10934, 10935, 10936, 10937, 10938], 'Covalon Technologies Inc.': [18532], 'Eli Lilly and Company': [21673, 21674, 21675, 21676, 21677, 21678, 21679, 21680, 21681, 21682, 21683, 21684, 21685, 21686, 21687, 21688, 21689, 21690, 21691, 21692, 21693, 21694, 21695, 21696, 21697, 21698, 21699, 21700, 21701, 21702, 21703, 21704, 21705, 21706, 21707, 21708, 21709, 21710, 21711, 21712, 21713, 21714, 21715], 'Genentech, Inc.': [26690, 26691, 26692, 26693, 26694, 26695, 26696, 26697, 26698, 26699, 26700, 26701, 26702, 26703, 26704, 26705, 26706, 26707, 26708, 26709, 26710, 26711, 26712, 26713, 26714, 26715, 26716, 26717, 26718, 26719, 26720, 26721, 26722, 26723, 26724, 26725, 26726, 26727], 'Gilead Sciences': [27390, 27391, 27392, 27393, 27394, 27395, 27396, 27397, 27398, 27399, 27400, 27401, 27402, 27403, 27404, 27405, 27406, 27407, 27408, 27409, 27410, 27411, 27412, 27413, 27414, 27415, 27416, 27417, 27418, 27419, 27420, 27421, 27422, 27423, 27424, 27425, 27426], 'Gritstone Oncology, Inc.': [28105, 28106], 'Hoffmann-La Roche': [31161, 31162, 31163, 31164, 31165, 31166, 31167, 31168, 31169, 31170, 31171, 31172, 31173, 31174, 31175, 31176, 31177, 31178, 31179, 31180, 31181, 31182, 31183, 31184, 31185, 31186, 31187, 31188, 31189, 31190, 31191, 31192, 31193, 31194, 31195, 31196, 31197, 31198, 31199, 31200, 31201, 31202, 31203, 31204, 31205, 31206], 'Hospira, now a wholly owned subsidiary of Pfizer': [31654, 31655, 31656, 31657, 31658, 31659, 31660, 31661], 'Intellia Therapeutics': [36164], 'Janssen Pharmaceutical K.K.': [37850, 37851, 37852, 37853, 37854, 37855, 37856, 37857, 37858, 37859, 37860, 37861, 37862, 37863, 37864, 37865, 37866, 37867, 37868, 37869, 37870], 'LEO Pharma': [42236, 42237, 42238, 42239, 42240, 42241, 42242, 42243, 42244, 42245, 42246, 42247, 42248, 42249, 42250, 42251, 42252, 42253, 42254, 42255, 42256, 42257, 42258, 42259, 42260], 'La Fundacion Favaloro para la Investigacion y la Docencia Medica': [41665], 'Merck Sharp & Dohme Corp.': [46873, 46874, 46875, 46876, 46877, 46878, 46879, 46880, 46881, 46882, 46883, 46884, 46885, 46886, 46887, 46888, 46889, 46890, 46891, 46892, 46893, 46894, 46895, 46896, 46897, 46898, 46899, 46900, 46901, 46902, 46903, 46904, 46905, 46906, 46907, 46908, 46909, 46910, 46911, 46912, 46913, 46914], 'Minovia Therapeutics Ltd.': [47887, 47888, 47889], 'New York University': [51657, 51658, 51659, 51660, 51661, 51662, 51663, 51664, 51665, 51666, 51667, 51668, 51669, 51670, 51671, 51672], 'Novo Nordisk A/S': [53038, 53039, 53040, 53041, 53042, 53043, 53044, 53045, 53046, 53047, 53048, 53049, 53050, 53051, 53052, 53053, 53054, 53055, 53056, 53057, 53058, 53059, 53060, 53061, 53062, 53063, 53064, 53065], 'Pelvalon, Inc.': [56337, 56338, 56339], 'Pfizer': [56643, 56644, 56645, 56646, 56647, 56648, 56649, 56650, 56651, 56652, 56653, 56654, 56655, 56656, 56657, 56658, 56659, 56660, 56661, 56662, 56663, 56664, 56665, 56666, 56667, 56668, 56669, 56670, 56671, 56672, 56673, 56674, 56675, 56676, 56677, 56678, 56679, 56680, 56681, 56682, 56683, 56684, 56685, 56686, 56687, 56688, 56689, 56690], 'Poseida Therapeutics, Inc.': [57796, 57797, 57798], 'Regeneron Pharmaceuticals': [59993, 59994, 59995, 59996, 59997, 59998, 59999, 60000, 60001, 60002, 60003, 60004, 60005, 60006, 60007, 60008, 60009, 60010, 60011, 60012, 60013, 60014, 60015, 60016, 60017, 60018, 60019, 60020, 60021, 60022, 60023, 60024, 60025, 60026, 60027, 60028], 'SATT Ouest Valorisation': [63016], 'Sonoma Orthopedic Products, Inc.': [66703, 66704], 'Sonoma State University': [66705], 'Takeda': [70106, 70107, 70108, 70109, 70110, 70111, 70112, 70113, 70114, 70115, 70116, 70117, 70118, 70119, 70120, 70121, 70122, 70123, 70124, 70125, 70126, 70127, 70128, 70129, 70130, 70131, 70132, 70133, 70134, 70135, 70136, 70137, 70138, 70139, 70140, 70141, 70142, 70143, 70144, 70145, 70146, 70147, 70148, 70149, 70150, 70151], 'The Novo Nordisk Foundation Center for Basic Metabolic Research': [72434], 'University of Pennsylvania': [82935, 82936, 82937, 82938, 82939, 82940, 82941, 82942, 82943, 82944, 82945, 82946, 82947, 82948, 82949, 82950, 82951, 82952, 82953, 82954, 82955, 82956, 82957, 82958, 82959, 82960, 82961, 82962, 82963, 82964, 82965, 82966, 82967, 82968, 82969, 82970, 82971, 82972, 82973, 82974, 82975, 82976, 82977, 82978, 82979, 82980, 82981, 82982, 82983, 82984, 82985, 82986, 82987, 82988, 82989, 82990, 82991], 'ValoTec': [85499], 'West Chester University of Pennsylvania': [87500], 'Wyeth is now a wholly owned subsidiary of Pfizer': [88304, 88305, 88306, 88307, 88308, 88309, 88310, 88311, 88312, 88313, 88314, 88315, 88316, 88317, 88318, 88319, 88320, 88321, 88322, 88323], 'Xian-Janssen Pharmaceutical Ltd.': [88474, 88475, 88476, 88477, 88478, 88479, 88480, 88481]}