<a href="https://colab.research.google.com/github/immunanna/Clinical-Trials-Analysis/blob/main/Success_Rate_CAR_T.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import sqlalchemy
import pandas as pd

In [3]:
SUCCESS = ['completed', 'approved for marketing']
FAIL = ['no longer available', 'suspended', 'terminated', 'withdrawn','withheld','Temporarily not available']

# Functions

In [12]:
def search_func_success(row):
  """
  Checks whether the clinical trial was successful or not.
  """
  matches_success = [test_value in row['overall_status'].lower() 
              for test_value in SUCCESS]
  matches_fail = [test_value in row['overall_status'].lower() 
              for test_value in FAIL]

  if any(matches_success):
      return "Success"
  elif any(matches_fail):
      return "Failure"

def preparing_a_dataframe(df):
  df["success_status"] = df.apply(search_func_success, axis=1)
  df_per_company = df.groupby(['source','success_status']).sum()
  per_company_success_percentage = df_per_company.groupby(['source']).apply(lambda x: 100*x / float(x.sum()))
  average = np.around(per_company_success_percentage.query('success_status == "Success"').mean()[0])
  return per_company_success_percentage, average

# Doing the query

In [5]:
# Creating the connection to the server
engine = sqlalchemy.create_engine('postgresql://annaden:Meow666@aact-db.ctti-clinicaltrials.org:5432/aact')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [17]:
df_CART = pd.read_sql_query("SELECT studies.source,  phase, overall_status, COUNT (*) FROM studies WHERE official_title LIKE '%CAR-T%' GROUP BY studies.source, phase, overall_status ORDER BY studies.source", engine)

In [18]:
df = pd.read_sql_query("SELECT studies.source,  phase, overall_status, COUNT (*) FROM studies GROUP BY studies.source, phase, overall_status ORDER BY studies.source", engine)

In [19]:
cart_success_rate_per_company, cart_avg = preparing_a_dataframe(df_CART)
success_rate_per_company, avg = preparing_a_dataframe(df)

In [20]:
cart_success_rate_per_company

                                                                   count
source                                             success_status
Beijing Immunochina Medical Science & Technolog... Success         100.0
First Affiliated Hospital Xi'an Jiaotong Univer... Failure         100.0
Fuda Cancer Hospital, Guangzhou                    Failure         100.0
Hebei Senlang Biotechnology Inc., Ltd.             Success         100.0
Janssen Research & Development, LLC                Failure         100.0
Maastricht University Medical Center               Success         100.0
Roger Williams Medical Center                      Success         100.0
Second Affiliated Hospital of Xi'an Jiaotong Un... Failure         100.0
Second Affiliated Hospital, School of Medicine,... Success         100.0
Sun Yat-sen University                             Failure         100.0
Wake Forest University Health Sciences             Failure         100.0

In [21]:
print('Average success rate per company for CAR-T: {0}%'.format(cart_avg))

Average success rate per company for CAR-T: 100.0%

In [23]:
success_rate_per_company

                                                                   count
source                                             success_status
"G Criscuoli" Hospital                             Success         100.0
113th Hospital of Chinese People's Liberation Army Success         100.0
153rd Hospital of Chinese People's Liberation Army Success         100.0
1QB Information Technologies Inc.                  Failure          50.0
                                                   Success          50.0
...                                                                  ...
Össur Ehf                                          Success         100.0
Österreichische Gesellschaft für Bipolare Erkra... Success         100.0
İnonu University                                   Success         100.0
Šarić, Jadranka Pavičić, M.D.                      Success         100.0
Żelazna Medical Centre, LLC                        Success         100.0

[20556 rows x 1 columns]

In [24]:
print('Average success rate per company overall: {0}%'.format(avg))

Average success rate per company overall: 93.0%