<a href="https://colab.research.google.com/github/immunanna/Clinical-Trials-Analysis/blob/main/Success_Rate_Company_Phase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import sqlalchemy
import pandas as pd
import re

In [2]:
SUCCESS = ['completed', 'approved for marketing']
FAIL = ['no longer available', 'suspended', 'terminated', 'withdrawn','withheld','Temporarily not available']

# Functions

In [4]:
def search_func_companies(row):
  """
  Checks whether the source of the clinical trial is in the company list.
  """
  matches = [test_value in row['source'].lower() 
  for test_value in list_of_companies]
  
  if any(matches):
    return "Yes"
  else:
    return "No"

def search_func_success(row):
  """
  Checks whether the clinical trial was successful or not.
  """
  matches_success = [test_value in row['overall_status'].lower() 
              for test_value in SUCCESS]
  matches_fail = [test_value in row['overall_status'].lower() 
              for test_value in FAIL]

  if any(matches_success):
      return "Success"
  elif any(matches_fail):
      return "Failure"

In [5]:
companies = pd.read_csv('./list_of_companies',header=None, names=['company']) 
list_of_companies = list(companies['company'])
list_of_companies = [company.lower() for company in list_of_companies]

## Doing the Query

In [6]:
# Creating the connection to the server
engine = sqlalchemy.create_engine('postgresql://annaden:Meow666@aact-db.ctti-clinicaltrials.org:5432/aact')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [7]:
df = pd.read_sql_query('SELECT studies.source,  phase, overall_status, COUNT (*) FROM studies GROUP BY studies.source, phase, overall_status ORDER BY studies.source', engine)

In [8]:
df["Match"] = df.apply(search_func_companies, axis=1)
filtered_companies = df.query('Match == "Yes"').drop(columns='Match')
filtered_companies["success_status"] = df.apply(search_func_success, axis=1)

In [9]:
filtered_companies_grouped = filtered_companies.groupby(['source','phase','success_status']).agg({'count':['sum']})
filtered_companies_grouped.columns = ['status_count']

## Success Rate per Phase

In [10]:
status_sum_per_phase = filtered_companies.groupby(['phase','success_status']).sum()
per_phase_success_percentage = status_sum_per_phase.groupby('phase').apply(lambda x: 100*x / float(x.sum()))
per_phase_success_percentage

                                    count
phase           success_status
Early Phase 1   Failure         23.255814
                Success         76.744186
N/A             Failure          9.517241
                Success         90.482759
Phase 1         Failure         10.204082
                Success         89.795918
Phase 1/Phase 2 Failure         27.419355
                Success         72.580645
Phase 2         Failure         18.802863
                Success         81.197137
Phase 2/Phase 3 Failure         16.666667
                Success         83.333333
Phase 3         Failure         11.527378
                Success         88.472622
Phase 4         Failure         12.036435
                Success         87.963565

## Success Rate per Company per Phase

In [11]:
per_company_phase_success_percentage = filtered_companies_grouped.groupby(['source','phase']).apply(lambda x: 100*x / float(x.sum()))
per_company_phase_success_percentage

                                                                                 status_count
source                                             phase         success_status
Abramson Cancer Center of the University of Pen... Early Phase 1 Failure            15.384615
                                                                 Success            84.615385
                                                   N/A           Failure            30.000000
                                                                 Success            70.000000
                                                   Phase 1       Failure            19.565217
...                                                                                       ...
Xian-Janssen Pharmaceutical Ltd.                   Phase 1       Success            83.333333
                                                   Phase 3       Failure             9.090909
                                                                 Success            90.909091
                                                   Phase 4       Failure             7.692308
                                                                 Success            92.307692

[257 rows x 1 columns]

## Success Rate per Company

In [12]:
status_sum_per_company = filtered_companies.groupby(['source','success_status']).sum()
per_company_success_percentage = status_sum_per_company.groupby(['source']).apply(lambda x: 100*x / float(x.sum()))
per_company_success_percentage

                                                                        count
source                                             success_status
Abramson Cancer Center of the University of Pen... Failure          25.728155
                                                   Success          74.271845
Adnexus, A Bristol-Myers Squibb R&D Company        Success         100.000000
ArQule, Inc. (a wholly owned subsidiary of Merc... Failure         100.000000
AstraZeneca                                        Failure           9.239364
                                                   Success          90.760636
AstraZeneca Turkey                                 Success         100.000000
Atara Biotherapeutics                              Failure          25.000000
                                                   Success          75.000000
Bayer                                              Failure           8.037094
                                                   Success          91.962906
Bayero University Kano, Nigeria                    Success         100.000000
BeiGene                                            Failure           9.090909
                                                   Success          90.909091
Bristol-Myers Squibb                               Failure          15.050167
                                                   Success          84.949833
Covalon Technologies Inc.                          Success         100.000000
Eli Lilly and Company                              Failure           8.507765
                                                   Success          91.492235
Genentech, Inc.                                    Failure          11.500000
                                                   Success          88.500000
Gilead Sciences                                    Failure          16.989247
                                                   Success          83.010753
Gritstone Oncology, Inc.                           Success         100.000000
Hoffmann-La Roche                                  Failure          11.154345
                                                   Success          88.845655
Hospira, now a wholly owned subsidiary of Pfizer   Failure          10.714286
                                                   Success          89.285714
Janssen Pharmaceutical K.K.                        Failure           8.000000
                                                   Success          92.000000
LEO Pharma                                         Failure           7.936508
                                                   Success          92.063492
La Fundacion Favaloro para la Investigacion y l... Success         100.000000
Merck Sharp & Dohme Corp.                          Failure          15.631263
                                                   Success          84.368737
New York University                                Failure           5.555556
                                                   Success          94.444444
Novo Nordisk A/S                                   Failure           5.154639
                                                   Success          94.845361
Pelvalon, Inc.                                     Success         100.000000
Pfizer                                             Failure          17.027417
                                                   Success          82.972583
Regeneron Pharmaceuticals                          Failure          13.286713
                                                   Success          86.713287
SATT Ouest Valorisation                            Success         100.000000
Sonoma Orthopedic Products, Inc.                   Failure         100.000000
Sonoma State University                            Success         100.000000
Takeda                                             Failure          15.276558
                                                   Success          84.723442
The Novo Nordisk Foundation Center for Basic Me... Success         100.000000
University of Pennsylvania                         Failure          14.285714
                                                   Success          85.714286
West Chester University of Pennsylvania            Success         100.000000
Wyeth is now a wholly owned subsidiary of Pfizer   Failure          12.681913
                                                   Success          87.318087
Xian-Janssen Pharmaceutical Ltd.                   Failure          12.121212
                                                   Success          87.878788

In [20]:
print('Average success rate per company: {0}%'.format(np.around(per_company_success_percentage.query('success_status == "Success"').mean()[0])))

Average success rate per company: 92.0%